/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background: #0047B2;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 0px;
    }
    .body-content {
        padding: 0;
    }
}

.blue-color {
    background:#000066;
}

.white-color {
    color:#ffffff;

}

.orange-color {
    background: #E65C00;
}


.contentbox {
    border: 0px solid #000066;
    border-radius:5px;
    margin-left: 3px;
}

.nav-box {
     background: #E60000;
}

.feet {
    padding-top: 20px;
  bottom: 0;
  width: 100%;
  height: 60px;
    color:#FFF;
  background-color: #990033;
    clear:both;
}

.mainbody,
.header,
.footers {
    padding: 5px;
}
.mainbody {
    margin-top: 0;
    min-height: 150px;
    max-height: 388px;
    overflow: auto;
}
.headerd {
    background-color: #000066;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    align-content:center;
    height: 100px;
    /*
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;*/
    border-radius:5px;
}
.footerd {
    height: 40px;
    background-color: whiteSmoke;
    border-top: 1px solid #DDD;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.boldblue {

    color: #000066;
     font-weight: bold;
     font-size:medium;
}

.body-blue {

    background: #000066;
}